fiona 
geopandas==0.8.1 
pyproj==2.6.1.post1 
matplotlib  
nbconvert 
nptyping
numpy 
pandas 
papermill 
pathlib2 
plotly 
rasterio
rtree 
scipy                 
scrapbook           
urllib3 
descartes 
xlrd 
ipykernel
ipyleaflet
black
pyrasterframes==0.8.5
jupyterhub==1.4.1
jupyter_contrib_nbextensions
openpyxl